{% extends "base.html" %}
{% block content %}
<ul>
<div class="table-responsive">
  <table class="table">
      <tr>
          <th>Date</th>
          <th>Nom</th>
          <th>Machine</th>
          <th>Type Probleme</th>
          <th>Etat</th>
          <th>Gérer</th>
      </tr>
      {% for ticket in object_list %}
          <tr>
              <td>{{ ticket.date_submission }}</td>
              <td>{{ ticket.first_name }} {{ ticket.last_name }}</td>
              <td>{{ ticket.machine }}</td>
              <td>{{ ticket.problem_type }}</td>
              <td>{{ ticket.state }}</td>
              <td><a href="{% url "home_submit" %}">Edit</a></td>
          </tr>
      {% endfor %}
  </table>
</div>
</ul>
{% if page_obj.has_other_pages %}
    <nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <a class="page-link" href="#" tabindex="-1">&laquo;</a>
    {% endif %}
    {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link"href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&raquo;</a></li>
    {% endif %}
  </ul></nav>
{% endif %}
{% endblock %}
